---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>{{ page.date | isoDate }}</lastmod>
  </url>
  {%- for g in games %}
  <url>
    <loc>{{ site.url }}/{{ g.slug }}/</loc>
    <lastmod>{{ page.date | isoDate }}</lastmod>
  </url>
  {%- endfor %}
  <url>
    <loc>{{ site.url }}/privacy/</loc>
    <lastmod>{{ page.date | isoDate }}</lastmod>
  </url>
</urlset>
